.top-nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.nav-links a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: solid;
  font-size: 17px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

.nav-links a.active-link {
  /* background-color: #04AA6D; */
  background-color: #74a06dfa;
  color: black;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-btn:hover {
  opacity: 0.8;
}



.nav-actions label {
    margin-right: 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
