<nav class="top-nav">
    <div class="nav-links">
        <a routerLink="/dashboard" routerLinkActive="active-link" aria-currentWhenActive="page">Dashboard</a>
        <a routerLink="/summary" routerLinkActive="active-link" aria-currentWhenActive="page">Summary</a>
        <a routerLink="/reports" routerLinkActive="active-link" aria-currentWhenActive="page">Reports</a>


    </div>
    <div class="nav-actions">
        <label *ngIf="auth.isLoggedIn()" class="user-label">Welcome, {{ auth.getUsername() }}</label>
        <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button>
    </div>
</nav>
